.col-9 {
    background-color:#f2f2f2;
    margin-top: 100px;
    border-style: solid;
}

.mainBody {
    background-color: #d9d9d9;
    height: 752px;
}

.name {
    text-align: center;
    font-size: 82px;
    color: tomato;
    opacity: 70%;
    font-family: fantasy;
}
